<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title><%= typeof title != "undefined" ? title: "VCT Eco" %></title>

        <!-- Meta Tags -->

        <meta
            name="description"
            content="We develop sustainable aviation solutions to achieve carbon neutrality, serving the world's airlines, corporate aviation and the military. Products include Finlets and FDAP Monitoring System."
        />

        <meta property="og:title" content="VCT Eco | Home" />
        <meta
            property="og:image"
            content="https://vcteco.com/images/vct-share.png"
        />
        <meta property="og:site_name" content="VCT Eco" />
        <meta property="og:url" content="https://vcteco.com/" />
        <meta property="og:type" content="website" />
        <meta
            property="og:description"
            content="We develop sustainable aviation solutions to achieve carbon neutrality, serving the world's airlines, corporate aviation and the military. Products include Finlets and FDAP Monitoring System."
        />

        <!-- Poppins, Montserrat & Courier Prime Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&family=Montserrat:wght@500&family=Poppins:wght@300;400;700&display=swap"
            rel="stylesheet"
        />

        <!-- Bootstrap 5 CDN File -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
        />

        <!-- Custom CSS File -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        />
        <link rel="stylesheet" href="css/main.css" />

        <!--Theme Responsive CSS File-->
        <link rel="stylesheet" href="css/responsive.css" />
        <link rel="stylesheet" href="css/company-responsive.css" />

        <meta name="theme-color" content="#fafafa" />

        <link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon" href="img/apple-touch-icon-iphone.png" />
        <link
            rel="apple-touch-icon"
            sizes="72x72"
            href="img/apple-touch-icon-ipad.png"
        />
        <link
            rel="apple-touch-icon"
            sizes="114x114"
            href="img/apple-touch-icon-iphone4.png"
        />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"
        />

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(["_setAccount", "UA-35815171-1"]);
            _gaq.push(["_trackPageview"]);

            (function () {
                var ga = document.createElement("script");
                ga.type = "text/javascript";
                ga.async = true;
                ga.src =
                    ("https:" == document.location.protocol
                        ? "https://ssl"
                        : "http://www") + ".google-analytics.com/ga.js";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>

    <body>
        <!-- Header Area -->
        <header id="header">
            <!-- Nav Area -->
            <nav class="navbar navbar-expand-lg">
                <div class="container nav-cover">
                    <!-- Logo Area -->

                    <a class="navbar-brand" href="/"
                        ><img
                            src="https://vcteco.com/img/logo.jpg"
                            alt="VCT Logo"
                    /></a>
                    <!-- Logo Area -->
                    <!-- Mobile Hamburger Icon -->
                    <button class="navbar-toggler">
                        <div class="toggler-btn">
                            <span class="bar bar1"></span>
                            <span class="bar bar2"></span>
                            <span class="bar bar3"></span>
                        </div>
                    </button>
                    <!-- Mobile Hamburger Icon -->

                    <!-- Desktop Menu List Area -->
                    <div class="desktop-menu">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a
                                    class="nav-link active"
                                    aria-current="page"
                                    href="/"
                                    >HOME</a
                                >
                            </li>
                            <li class="nav-item dropdown-hover">
                                <a class="nav-link" href="/finlets">PRODUCTS</a>

                                <!-- Dropdown Items -->
                                <div class="dropdown-container">
                                    <!-- Left Row Dropdown -->
                                    <ul class="left-dropdown">
                                        <li>
                                            <a href="/finlets">Finlets</a>
                                        </li>
                                        <li>
                                            <a href="/fdap-monitor"
                                                >FDAP Monitor</a
                                            >
                                        </li>
                                    </ul>
                                    <!-- Left Row Dropdown -->
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/services"
                                    >SERVICES</a
                                >
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/company">COMPANY</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/contact"
                                    >CONTACT US</a
                                >
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/partners"
                                    >PARTNERS</a
                                >
                            </li>
                        </ul>
                    </div>
                    <!-- Desktop Menu List Area -->
                </div>
            </nav>
            <!-- Nav Area -->
        </header>
        <!-- Header Area -->

        <!-- Main Content Area -->
        <main>
            <!-- Mobile Menu List Area -->
            <div class="mobile-menu">
                <div class="container">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/">HOME</a>
                        </li>
                        <li class="nav-item dropdown-hover">
                            <a class="nav-link" href="/finlets">PRODUCTS</a>

                            <!-- Dropdown Items -->
                            <div class="dropdown-container">
                                <!-- Left Row Dropdown -->
                                <ul class="left-dropdown">
                                    <li>
                                        <a href="/finlets">Finlets</a>
                                    </li>
                                    <li>
                                        <a href="/fdap-monitor">FDAP Monitor</a>
                                    </li>
                                </ul>
                                <!-- Left Row Dropdown -->
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/services">SERVICES</a>
                        </li>

                        <li class="nav-item">
                            <a
                                class="nav-link active"
                                aria-current="page"
                                href="/company"
                                >COMPANY</a
                            >
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">CONTACT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/partners">PARTNERS</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Mobile Menu List Area -->

            <%- body %>
        </main>
        <!-- Main Content Area -->

        <!-- Footer Area -->
        <footer class="footer-area" style="padding-top: 50px">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- Footer Content -->
                        <div class="footer-content">
                            <!-- Footer Social List -->

                            <!-- Footer Social List -->
                            <p>
                                &copy; 2023 Vortex Control Technologies. All
                                Rights Reserved
                            </p>
                        </div>
                        <!-- Footer Content -->
                    </div>
                </div>
            </div>
        </footer>
        <!-- Footer Area -->

        <!-- JS CDN Links -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/selectivizr/1.0.2/selectivizr-min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.sticky/1.0.4/jquery.sticky.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js "></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/gsap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.7.0/ScrollTrigger.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
        <script src="https://vcteco.com/js/main.js"></script>
        <!-- JS CDN Links -->
    </body>
</html>
