<!-- Technology / Finlets Area -->
<section class="single-technology-banner company-technology">
    <div class="container">
        <!-- Single Technology Content -->
        <div class="single-tech-content">
            <h1>
                <span class="heading-line1">Contact Us</span>
                <span class="heading-line2">Sales & Support</span>
            </h1>

            <p>
                Vortex Control Technologies<br />9724 32nd Place West
                <br />Everett, WA 98204<br /><br />

                Sales: <a href="mailto:sales@vortexct.com">sales@vortexct.com</a
                ><br />
                General: <a href="mailto:info@vortexct.com">info@vortexct.com</a
                ><br /><br />

                425.622.9035
                <br />
            </p>
        </div>
        <!-- Single Technology Content -->
    </div>
</section>
<!-- Technology / Finlets Area -->

<br /><br />

<!-- Contact Us Area --->
