<!-- Technology / Finlets Area -->
<section class="single-technology-banner company-technology">
    <div class="container">
        <!-- Single Technology Content -->
        <div class="single-tech-content">
            <h1>
                <span class="heading-line1">Products</span>
                <span class="heading-line2">FDAP Monitor</span>
            </h1>

            <p>
                VCT's FDAP Monitor analyzes flight data - collected by aircraft
                via their Digital Flight Data Recorders (DFDRs) - to identify
                occurrences and trends that if corrected will result in more
                efficient operations.
            </p>

            <p>
                VCT has demonstrated that a typical airline operation can
                improve fuel efficiency on the order of 1% if the airline
                monitors flight control rigging and corrects flight control
                alignment as necessary. In 2019 airlines worldwide consumed 95
                billion gallons of fuel. A savings of 1% through correcting
                flight control alignment deficiencies identified by VCT's FDAP
                Monitor would save 950 million gallons of fuel. At $2 per gallon
                this amounts to a $1.9 Billion reduction in fuel cost. The
                annual reduction in carbon emissions is 20 Billion pounds, this
                is equivalent to almost $200 million in carbon credits.
            </p>

            <p>
                The VCT FDAP Monitor can also be utilized to measure changes in
                aircraft drag to within +/- 0.15% with 95% statistical
                confidence. This can save airlines millions of dollars annually
                by fine-tuning flight plan fuel loads. It can also support
                airlines in negotiations with OEMs regarding fuel efficiency
                guarantees, as the VCT FDAP Monitor provides much more
                statistically significant data than current flight test methods,
                with a noise reduction of +/- 0.5% to at least +/- 0.15%.
            </p>

            <p>
                Our FDAP Monitor technology has been validated by Michael
                Mendenhall, a member of the NASA Engineering & Safety Center
                Aerosciences Technical Discipline Team. VCT has a patent pending
                for this technology.
            </p>
        </div>
        <!-- Single Technology Content -->

        <!-- Development Images Area For Desktop -->
        <div class="development-img-container desktop-dev-img">
            <!-- Single Image Border -->
            <div class="single-tech-box new-gap">
                <!-- Single Tech Inner Image Position -->
                <div class="single-tech-inner">
                    <div class="single-tech-main-img small-img">
                        <img src="img/fdap-left.jpg" alt="banner image 1" />
                    </div>
                </div>
                <!-- Single Tech Inner Image Position -->
            </div>
            <!-- Single Image Border -->

            <!-- Single Image Border -->
            <div class="single-tech-box new-gap">
                <!-- Single Tech Inner Image Position -->
                <div class="single-tech-inner">
                    <div class="single-tech-main-img small-img">
                        <img src="img/fdap-center.jpg" alt="banner image 2" />
                    </div>
                </div>
                <!-- Single Tech Inner Image Position -->
            </div>
            <!-- Single Image Border -->

            <!-- Single Image Border -->
            <div class="single-tech-box new-gap">
                <!-- Single Tech Inner Image Position -->
                <div class="single-tech-inner">
                    <div class="single-tech-main-img small-img">
                        <img src="img/fdap-right.jpg" alt="banner image 3" />
                    </div>
                </div>
                <!-- Single Tech Inner Image Position -->
            </div>
            <!-- Single Image Border -->
        </div>
        <!-- Development Images Area For Desktop -->
    </div>

    <!-- Development Images Area For Mobile -->
    <div class="development-img-container mobile-dev-img">
        <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <!-- Single Slide Item -->
                <div class="carousel-item active">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img">
                                <img
                                    src="img/fdap-left.jpg"
                                    alt="banner image 1"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Single Slide Item -->

                <!-- Single Slide Item -->
                <div class="carousel-item">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img">
                                <img
                                    src="img/fdap-center.jpg"
                                    alt="banner image 2"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Single Slide Item -->

                <!-- Single Slide Item -->
                <div class="carousel-item">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img">
                                <img
                                    src="img/fdap-right.jpg"
                                    alt="banner image 3"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Single Slide Item -->
            </div>
        </div>
    </div>
    <!-- Development Images Area For Mobile -->

    <!-- Single Technology Image Area -->
</section>
<!-- Technology / Finlets Area -->

<br /><br />

<!-- Contact Us Area --->

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Contact Content -->
                <div class="contact-content">
                    <div class="contact-text">
                        <p style="text-align: left">
                            VCT develops sustainable aviation solutions to
                            achieve carbon neutrality for today's commercial &
                            military aircraft
                        </p>
                    </div>

                    <!-- Contact Button -->
                    <div class="contact-btn">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <!-- Contact Button -->
                </div>
                <!-- Contact Content -->
            </div>
        </div>
    </div>
</section>

<!-- Contact Us Area -->
