<!-- Technology / Finlets Area -->
<section class="single-technology-banner">
    <div class="container">
        <!-- Single Technology Content -->
        <div class="single-tech-content">
            <h1>
                <span class="heading-line1">Products</span>
                <span class="heading-line2">Finlets</span>
            </h1>

            <p>
                A vortex (plural: vortices) is a spinning, often turbulent, flow
                of fluid. Any spiral motion with closed streamlines is vortex
                flow.
            </p>
            <p>
                All aircraft produce vortices in flight, particularly at the
                wing tips, wing to fuselage interface, and aft fuselage.
            </p>
            <p>
                Vortex flow is a significant source of aircraft drag,
                particularly on aircraft with upswept after bodies such as the
                C-130, C-17 and B-737.
            </p>
            <p>
                Finlets are an array of fins on the aft fuselage of the aircraft
                that reshape the airflow to improve the pressure distribution
                and reduce flow separation and thereby reduce pressure drag.
                This reduction in aerodynamic drag results in less aircraft fuel
                consumption and fewer carbon emissions, with the benefits of
                increasing aircraft range and endurance. Using the Company's
                proprietary knowhow in conjunction with Computational Fluid
                Dynamics (CFD), VCT is able to design a Finlet configuration
                that will minimize the aerodynamic drag of any aircraft.
            </p>
            <p>
                Finlets are patented and our software is copyright protected.
                Our proprietary technologies enable engineers to model, predict,
                redirect and control aircraft vortex flow in order to reduce
                fuel consumption and carbon emissions.
            </p>
        </div>
        <!-- Single Technology Content -->
    </div>

    <!-- Single Technology Image Area -->
    <div class="single-tech-image">
        <!-- Single Image Border -->
        <div class="single-tech-box">
            <!-- Single Tech Inner Image Position -->
            <div class="single-tech-inner">
                <div class="single-tech-main-img big-img">
                    <img src="img/int-finlets-bw.jpg" alt="" />
                </div>
            </div>
            <!-- Single Tech Inner Image Position -->
        </div>
        <!-- Single Image Border -->
    </div>
    <!-- Single Technology Image Area -->
</section>
<!-- Technology / Finlets Area -->

<!-- Additional Benefits Area -->
<section class="additional-benefits">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Benefits Content Cover -->
                <div class="benefits-content">
                    <!-- Benefits Left Content -->
                    <div class="benefits-left-content">
                        <h3>
                            Additional
                            <span>Benefits of Finlets</span>
                        </h3>

                        <!-- Benefits List -->
                        <ul class="benefit-list">
                            <!-- Benefits Single Item -->
                            <li>
                                <!-- Benefits Item Arrow -->
                                <span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.2"
                                        baseProfile="tiny-ps"
                                        viewBox="0 0 10 15"
                                        width="10"
                                        height="15"
                                    >
                                        <title>FinletDesktop</title>
                                        <style>
                                            tspan {
                                                white-space: pre;
                                            }
                                            .shp0 {
                                                fill: #ffffff;
                                            }
                                        </style>
                                        <g id="Benefits">
                                            <path
                                                id="Shape 1 copy 6"
                                                class="shp0"
                                                d="M0.01 14.99L1.8 7.5L0.01 0.01L9.99 7.5L0.01 14.99Z"
                                            />
                                        </g>
                                    </svg>
                                </span>
                                <!-- Benefits Item Arrow -->
                                <h5>In many cases, increased payload</h5>
                            </li>
                            <!-- Benefits Single Item -->

                            <!-- Benefits Single Item -->
                            <li>
                                <!-- Benefits Item Arrow -->
                                <span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.2"
                                        baseProfile="tiny-ps"
                                        viewBox="0 0 10 15"
                                        width="10"
                                        height="15"
                                    >
                                        <title>FinletDesktop</title>
                                        <style>
                                            tspan {
                                                white-space: pre;
                                            }
                                            .shp0 {
                                                fill: #ffffff;
                                            }
                                        </style>
                                        <g id="Benefits">
                                            <path
                                                id="Shape 1 copy 6"
                                                class="shp0"
                                                d="M0.01 14.99L1.8 7.5L0.01 0.01L9.99 7.5L0.01 14.99Z"
                                            />
                                        </g>
                                    </svg>
                                </span>
                                <!-- Benefits Item Arrow -->
                                <h5>
                                    Increased time on station (important for
                                    military aircraft)
                                </h5>
                            </li>
                            <!-- Benefits Single Item -->

                            <!-- Benefits Single Item -->
                            <li>
                                <!-- Benefits Item Arrow -->
                                <span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.2"
                                        baseProfile="tiny-ps"
                                        viewBox="0 0 10 15"
                                        width="10"
                                        height="15"
                                    >
                                        <title>FinletDesktop</title>
                                        <style>
                                            tspan {
                                                white-space: pre;
                                            }
                                            .shp0 {
                                                fill: #ffffff;
                                            }
                                        </style>
                                        <g id="Benefits">
                                            <path
                                                id="Shape 1 copy 6"
                                                class="shp0"
                                                d="M0.01 14.99L1.8 7.5L0.01 0.01L9.99 7.5L0.01 14.99Z"
                                            />
                                        </g>
                                    </svg>
                                </span>
                                <!-- Benefits Item Arrow -->
                                <h5>
                                    Reduced Carbon Emissions - Example: 750,000
                                    lbs. per year for a single Boeing 737
                                    aircraft
                                </h5>
                            </li>
                            <!-- Benefits Single Item -->

                            <!-- Benefits Single Item -->
                            <li>
                                <!-- Benefits Item Arrow -->
                                <span>
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        version="1.2"
                                        baseProfile="tiny-ps"
                                        viewBox="0 0 10 15"
                                        width="10"
                                        height="15"
                                    >
                                        <title>FinletDesktop</title>
                                        <style>
                                            tspan {
                                                white-space: pre;
                                            }
                                            .shp0 {
                                                fill: #ffffff;
                                            }
                                        </style>
                                        <g id="Benefits">
                                            <path
                                                id="Shape 1 copy 6"
                                                class="shp0"
                                                d="M0.01 14.99L1.8 7.5L0.01 0.01L9.99 7.5L0.01 14.99Z"
                                            />
                                        </g>
                                    </svg>
                                </span>
                                <!-- Benefits Item Arrow -->
                                <h5>
                                    The drag reduction is in addition to other
                                    devices, such as winglets, if they are also
                                    installed on the aircraft
                                </h5>
                            </li>
                            <!-- Benefits Single Item -->
                        </ul>
                        <!-- Benefits List -->
                    </div>
                    <!-- Benefits Left Content -->

                    <!-- Benefits Right Items -->
                    <ul class="right-benefits benefit-list">
                        <!-- Benefits Single Item -->
                        <li>
                            <!-- Benefits Item Arrow -->
                            <span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    version="1.2"
                                    baseProfile="tiny-ps"
                                    viewBox="0 0 10 15"
                                    width="10"
                                    height="15"
                                >
                                    <title>FinletDesktop</title>
                                    <style>
                                        tspan {
                                            white-space: pre;
                                        }
                                        .shp0 {
                                            fill: "#fff";
                                        }
                                    </style>
                                    <g id="Benefits">
                                        <path
                                            id="Shape 1 copy 6"
                                            class="shp0"
                                            d="M0.01 14.99L1.8 7.5L0.01 0.01L9.99 7.5L0.01 14.99Z"
                                        />
                                    </g>
                                </svg>
                            </span>
                            <!-- Benefits Item Arrow -->
                            <h5>
                                The modification is light weight and has minimum
                                impact to an aircraft's structure and can be
                                accomplished in four elapsed hours and sixteen
                                man hours by line maintenance
                            </h5>
                        </li>
                        <!-- Benefits Single Item -->

                        <!-- Benefits Single Item -->
                        <li>
                            <!-- Benefits Item Arrow -->
                            <span>
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    version="1.2"
                                    baseProfile="tiny-ps"
                                    viewBox="0 0 10 15"
                                    width="10"
                                    height="15"
                                >
                                    <title>FinletDesktop</title>
                                    <style>
                                        tspan {
                                            white-space: pre;
                                        }
                                        .shp0 {
                                            fill: #ffffff;
                                        }
                                    </style>
                                    <g id="Benefits">
                                        <path
                                            id="Shape 1 copy 6"
                                            class="shp0"
                                            d="M0.01 14.99L1.8 7.5L0.01 0.01L9.99 7.5L0.01 14.99Z"
                                        />
                                    </g>
                                </svg>
                            </span>
                            <!-- Benefits Item Arrow -->
                            <h5>
                                VCT Finlets are a totally passive system with no
                                impact to aircraft systems or maintenance costs
                                other than routine visual inspections.
                            </h5>
                        </li>
                        <!-- Benefits Single Item -->
                    </ul>
                    <!-- Benefits Right Items -->
                </div>
                <!-- Benefits Content Cover -->
            </div>
        </div>
    </div>
</section>
<!-- Additional Benefits Area -->

<!-- Technology Development Area -->
<section class="tech-development-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Development Text Area -->
                <div class="development-text-area">
                    <h3>Finlet <span>Development</span></h3>

                    <p>
                        Using the Company's proprietary software in conjunction
                        with Computational Fluid Dynamics (CFD) software, VCT is
                        able to analyze each aircraft and individually adapt the
                        VC Finlet configuration for maximum performance.
                    </p>

                    <p>
                        VCT has created Vortex Control Finlets (VC Finlets)
                        which are fins added to the aft fuselage of an aircraft
                        to control vortex flow and reduce drag.
                    </p>

                    <h5>The Science of VC Finlets</h5>

                    <p>
                        Vortex Control Finlets use controlled vortex flow to
                        reduce aircraft aerodynamic drag which translates into a
                        reduction in aircraft fuel consumption. Normally the
                        airflow around the aft body of an aircraft becomes
                        separated which causes drag, reduces performance and
                        increases fuel consumption. VC Finlets shape the
                        aerodynamic flow on the aft body of an aircraft to
                        re-attach the flow and reduce aerodynamic drag.
                    </p>

                    <p>
                        Vortex Control Finlets have produced drag reductions in
                        a range of up to 10% depending upon aircraft type. For
                        aircraft with low wings, oval fuselages but appreciable
                        after-body upsweep angles, Vortex Control Finlets can
                        produce drag reductions in the range up to 4% depending
                        upon aircraft type.
                    </p>
                </div>
                <!-- Development Text Area -->

                <!-- Development Images Area For Desktop -->
                <div class="development-img-container desktop-dev-img">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img small-img">
                                <img
                                    src="img/finlets-right.jpg"
                                    alt="banner image 1"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->

                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img small-img">
                                <img
                                    src="img/finlets-tunnel.jpg"
                                    alt="banner image 2"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->

                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img small-img">
                                <img
                                    src="img/banner-image2.jpg"
                                    alt="banner image 3"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Development Images Area For Desktop -->
            </div>
        </div>
    </div>

    <!-- Development Images Area For Mobile -->
    <div class="development-img-container mobile-dev-img">
        <div
            id="carouselExampleIndicators"
            class="carousel slide"
            data-bs-ride="carousel"
        >
            <div class="carousel-indicators">
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
                ></button>
                <button
                    type="button"
                    data-bs-target="#carouselExampleIndicators"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
                ></button>
            </div>
            <div class="carousel-inner">
                <!-- Single Slide Item -->
                <div class="carousel-item active">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img">
                                <img
                                    src="img/finlets-left.jpg"
                                    alt="banner image 1"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Single Slide Item -->

                <!-- Single Slide Item -->
                <div class="carousel-item">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img">
                                <img
                                    src="img/banner-image2.jpg"
                                    alt="banner image 2"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Single Slide Item -->

                <!-- Single Slide Item -->
                <div class="carousel-item">
                    <!-- Single Image Border -->
                    <div class="single-tech-box new-gap">
                        <!-- Single Tech Inner Image Position -->
                        <div class="single-tech-inner">
                            <div class="single-tech-main-img">
                                <img
                                    src="img/finlets-right.jpg"
                                    alt="banner image 3"
                                />
                            </div>
                        </div>
                        <!-- Single Tech Inner Image Position -->
                    </div>
                    <!-- Single Image Border -->
                </div>
                <!-- Single Slide Item -->
            </div>
        </div>
    </div>
    <!-- Development Images Area For Mobile -->
</section>
<!-- Technology Development Area -->

<!-- Applicable Aircraft Area -->
<section class="applicable-aircraft">
    <div class="container">
        <!-- Section Title -->
        <div class="section-title">
            <h3>Finlet Technology <span>Applicable Aircraft</span></h3>
        </div>
        <!-- Section Title -->
        <div class="row">
            <div class="col-md-12">
                <!-- Applicable Tab Area For Mobile -->
                <div class="applicable-tab-area mobile-nav">
                    <div class="d-flex align-items-start">
                        <div
                            class="nav flex-column nav-pills me-3"
                            id="v-pills-tab"
                            role="tablist"
                            aria-orientation="vertical"
                        >
                            <button
                                class="nav-link active"
                                id="v-pills-boeing-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-boeing"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-boeing"
                                aria-selected="true"
                            >
                                Boeing 737 Family
                            </button>

                            <button
                                class="nav-link"
                                id="v-pills-c130-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-c130"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-c130"
                                aria-selected="false"
                            >
                                C130 /L100 Hercules
                            </button>

                            <button
                                class="nav-link"
                                id="v-pills-globemaster-tab"
                                data-bs-toggle="pill"
                                data-bs-target="#v-pills-globemaster"
                                type="button"
                                role="tab"
                                aria-controls="v-pills-globemaster"
                                aria-selected="false"
                            >
                                C17 Globemaster III
                            </button>
                        </div>

                        <div class="tab-content" id="v-pills-tabContent">
                            <!-- Single Applicable Tab -->
                            <div
                                class="tab-pane fade show active"
                                id="v-pills-boeing"
                                role="tabpanel"
                                aria-labelledby="v-pills-boeing-tab"
                            >
                                <div class="single-applicable-tab">
                                    <!-- Applicable Description -->
                                    <div class="applicable-description">
                                        <p>
                                            Since entering service in April of
                                            1968, the Boeing 737 has become one
                                            of the most ubiquitous airliners to
                                            serve the traveling public,
                                            globally.
                                        </p>

                                        <h5>
                                            Estimated Fuel Savings using VCT
                                            Finlets on the worldwide Boeing 737
                                            fleet
                                        </h5>
                                    </div>
                                    <!-- Applicable Description -->

                                    <!-- Applicable List -->
                                    <ul class="applicable-list">
                                        <!-- Applicable Item -->
                                        <li>
                                            <div
                                                class="applicable-item-container bg-white-applicable"
                                            >
                                                <div class="applicable-name">
                                                    <h6>Worldwide Fleet</h6>
                                                </div>

                                                <div class="applicable-value">
                                                    <p>7,000</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Applicable Item -->

                                        <!-- Applicable Item -->
                                        <li>
                                            <div
                                                class="applicable-item-container"
                                            >
                                                <div class="applicable-name">
                                                    <h6>
                                                        Flight Hours Per Year
                                                        (Utilization)
                                                    </h6>
                                                </div>

                                                <div class="applicable-value">
                                                    <p>3,650</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Applicable Item -->

                                        <!-- Applicable Item -->
                                        <li>
                                            <div
                                                class="applicable-item-container bg-white-applicable"
                                            >
                                                <div class="applicable-name">
                                                    <h6>
                                                        Gallons Saved Per Year
                                                    </h6>
                                                </div>

                                                <div class="applicable-value">
                                                    <p>263M</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Applicable Item -->

                                        <!-- Applicable Item -->
                                        <li>
                                            <div
                                                class="applicable-item-container"
                                            >
                                                <div class="applicable-name">
                                                    <h6>
                                                        Fuel Savings Per
                                                        Aircraft Annually (Est.
                                                        At $2 Per Gallon) With a
                                                        1.2% Savings Per
                                                        Aircraft
                                                    </h6>
                                                </div>

                                                <div class="applicable-value">
                                                    <p>$75,000</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Applicable Item -->

                                        <!-- Applicable Item -->
                                        <li>
                                            <div
                                                class="applicable-item-container bg-white-applicable"
                                            >
                                                <div class="applicable-name">
                                                    <h6>
                                                        Reduction In Carbon
                                                        Emission
                                                    </h6>
                                                </div>

                                                <div class="applicable-value">
                                                    <p>5.56bn Pounds</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Applicable Item -->

                                        <!-- Applicable Item -->
                                        <li>
                                            <div
                                                class="applicable-item-container"
                                            >
                                                <div class="applicable-name">
                                                    <h6>
                                                        Worldwide Fleet Savings
                                                        Per Year
                                                    </h6>
                                                </div>

                                                <div class="applicable-value">
                                                    <p>$526M</p>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- Applicable Item -->
                                    </ul>
                                    <!-- Applicable List -->
                                </div>
                            </div>
                            <!-- Single Applicable Tab -->

                            <!-- Single Applicable Tab -->
                            <div
                                class="tab-pane fade"
                                id="v-pills-c130"
                                role="tabpanel"
                                aria-labelledby="v-pills-c130-tab"
                            >
                                <div class="single-applicable-tab">
                                    <!-- Applicable Description -->
                                    <div class="applicable-description">
                                        <p>
                                            The Lockheed C-130 Hercules is a
                                            four-engine turboprop military
                                            transport aircraft capable of using
                                            unimproved runways for takeoffs and
                                            landings. The C-130 was originally
                                            designed as a troop, medical
                                            evacuation and cargo transport
                                            aircraft. Over 40 models and
                                            variants of the Hercules serve with
                                            more than 60 nations.
                                        </p>

                                        <p>
                                            The C-130 entered service in the
                                            1950's. During its years of service
                                            the Hercules family has participated
                                            in countless military, civilian and
                                            humanitarian aid operations. The
                                            C-130 has the longest continuous
                                            production run of any military
                                            aircraft in history with over 2,000
                                            aircraft delivered. The C-130 is
                                            also the only military aircraft to
                                            remain in continuous production for
                                            50 years with its original customer,
                                            as the updated C-130J Super
                                            Hercules.
                                        </p>
                                        <h5>Performance Advantages:</h5>
                                        <p>
                                            With Finlets installed, the C-130
                                            realizes significant drag reduction,
                                            resulting in fuel savings of 6%,
                                            reduction of carbon emissions of up
                                            to 5%, extended range by 200
                                            nautical miles and increased
                                            endurance of 45 minutes. Further,
                                            with Finlets installed, the C130
                                            payload increases by 3,000 pounds.
                                        </p>
                                    </div>
                                    <!-- Applicable Description -->
                                </div>
                            </div>
                            <!-- Single Applicable Tab -->

                            <!-- Single Applicable Tab -->
                            <div
                                class="tab-pane fade"
                                id="v-pills-globemaster"
                                role="tabpanel"
                                aria-labelledby="v-pills-globemaster-tab"
                            >
                                <div class="single-applicable-tab">
                                    <!-- Applicable Description -->
                                    <div class="applicable-description">
                                        <p>
                                            The Boeing C-17 Globemaster III is a
                                            large military transport aircraft
                                            developed for the United States Air
                                            Force (USAF). The C-17 is used for
                                            rapid strategic airlift of troops
                                            and cargo to main operating bases or
                                            forward operating bases throughout
                                            the world. It can also perform
                                            tactical airlift, medical evacuation
                                            and airdrop missions.
                                        </p>
                                        <h5>Performance Advantages:</h5>
                                        <p>
                                            With Finlets installed, the C-17
                                            realizes significant drag reduction,
                                            resulting in fuel savings of
                                            1.4%.<br /><br /><br />
                                        </p>
                                    </div>
                                    <!-- Applicable Description -->
                                </div>
                            </div>
                            <!-- Single Applicable Tab -->
                        </div>
                    </div>
                </div>
                <!-- Applicable Tab Area For Mobile -->
            </div>
        </div>
    </div>
</section>
<!-- Applicable Aircraft Area -->

<!-- Contact Us Area --->

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Contact Content -->
                <div class="contact-content">
                    <div class="contact-text">
                        <p style="text-align: left">
                            VCT develops sustainable aviation solutions to
                            achieve carbon neutrality for today's commercial &
                            military aircraft
                        </p>
                    </div>

                    <!-- Contact Button -->
                    <div class="contact-btn">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <!-- Contact Button -->
                </div>
                <!-- Contact Content -->
            </div>
        </div>
    </div>
</section>

<!-- Contact Us Area -->
