<!-- Banner Area -->
<section class="banner-area">
    <div class="container">
        <div class="row" id="homeblock">
            <div class="col-md-12">
                <!-- Banner Content -->
                <div class="banner-content">
                    <h1>
                        Carbon Reduction Solutions For
                        <span>Today's Commercial & Military Fleet</span>
                    </h1>

                    <p>
                        Sustainable Aviation Solutions To Achieve Carbon
                        Neutrality
                    </p>

                    <!-- Fuel Lbs CountUp Area -->

                    <div class="fuel-lbs-area">
                        <!-- Fuel Area -->
                        <div class="fuel-area">
                            <div class="fuel-number countup-number">
                                <p class="counter">1,015,476</p>
                            </div>

                            <div class="fuel-text">
                                <p>Fuel Gallons Saved</p>
                            </div>
                        </div>
                        <!-- Fuel Area -->

                        <!-- LBS Area -->
                        <div class="lbs-area">
                            <div class="lbs-number countup-number">
                                <p class="counter">21,499,657</p>
                            </div>

                            <div class="lbs-text">
                                <p>Lbs. Carbon Saved</p>
                            </div>
                        </div>

                        <!-- LBS Area -->
                    </div>

                    <!-- Fuel Lbs CountUp Area -->
                </div>
                <!-- Banner Content -->
            </div>
        </div>
    </div>

    <!-- Fold Image Area -->
    <div class="image-area">
        <!-- Fold Single Image -->
        <div class="single-image image1 mbl-img-hide">
            <img src="img/banner-image1.jpg" alt="banner image1" />
        </div>
        <!-- Fold Single Image -->

        <!-- Fold Single Image -->
        <div class="single-image image2">
            <img src="img/home-mid.jpg" alt="banner image2" />
        </div>
        <!-- Fold Single Image -->

        <!-- Fold Single Image -->
        <div class="single-image image3 mbl-img-hide">
            <img src="img/finlet4.jpg" alt="banner image3" />
        </div>
        <!-- Fold Single Image -->

        <!-- Image Mouse Icon -->

        <!-- Image Mouse Icon -->
    </div>
    <!-- Fold Image Area -->
</section>
<!-- Banner Area -->

<!-- Green Technology Area -->
<section class="green-tec-area" id="green-tec">
    <!-- Section Title -->
    <style>
        .section-title h3 .subtext {
            font-size: 14px;
        }
    </style>

    <div class="section-title">
        <h3>
            Green Technology <span>Takes Flight</span>

            <p
                style="
                    padding-top: 16px;
                    max-width: 1100px;
                    text-align: center;
                    margin: auto;
                    line-height: 1.5;
                "
                id="home-green"
            >
                Moving towards carbon neutral aircraft operations won't be easy.
                Here's how VCT is supporting the world's airlines, corporate
                aviation and the military. Enabling everyone to be part of the
                solution to climate change today.
            </p>
        </h3>
    </div>
    <!-- Section Title -->

    <!-- Single Box Area -->
    <div class="single-box-text first-box">
        <!-- Single Box Image -->
        <div class="single-box-image">
            <img src="img/home-finlets.jpg" alt="finlets" />
        </div>
        <!-- Single Box Image -->

        <div class="container">
            <!-- Single Box Inner Area -->
            <div class="single-box-inner">
                <!-- Green Text Area -->
                <div class="box-text box-right-text" id="box-right-offset">
                    <h5>Finlets</h5>
                    <div class="box-para-text">
                        <p>
                            Normally the airflow around the aft body of an
                            aircraft becomes separated which causes drag,
                            reduces performance, and increases fuel consumption
                            and carbon emissions.
                        </p>
                        <p>
                            VCT Finlets control vortex flow to reduce aircraft
                            aerodynamic drag translating into a reduction in
                            aircraft fuel consumption and carbon emissions by 1%
                            to 6% depending upon aircraft type.
                        </p>
                    </div>

                    <!-- Learn More Button -->
                    <div class="learn-btn">
                        <a href="/finlets">Learn More</a>
                    </div>
                    <!-- Learn More Button -->
                </div>
                <!-- Green Text Area -->
            </div>
            <!-- Single Box Inner Area -->
        </div>
    </div>
    <!-- Single Box Area -->

    <!-- Single Box Area -->
    <div class="single-box-text second-box">
        <!-- Single Box Image -->
        <div
            class="single-box-image single-box-right-image home-right"
            id="home-right"
        >
            <img src="img/home-fdap.jpg" alt="FDAP Monitor" />
        </div>
        <!-- Single Box Image -->

        <div class="container">
            <!-- Single Box Inner Area -->
            <div class="single-box-inner">
                <!-- Green Text Area -->
                <div
                    class="box-text box-right-text box-left-text"
                    id="box-left-offset"
                >
                    <h5>FDAP Monitor</h5>
                    <div class="box-para-text">
                        <p>
                            Flight Data Analysis Program Monitoring System (FDAP
                            Monitor) continuously tracks relevant aircraft
                            performance parameters contained in an aircraft's
                            Flight Data Analysis Program (FDAP). The FDAP
                            Monitor will:
                        </p>
                        <ol>
                            <li
                                style="
                                    list-style-type: decimal;
                                    padding-bottom: 5px;
                                    padding-left: 4px;
                                "
                            >
                                Track aircraft flight control alignment for all
                                control surfaces on individual aircraft.
                            </li>
                            <li
                                style="
                                    list-style-type: decimal;
                                    padding-bottom: 5px;
                                    padding-left: 4px;
                                "
                            >
                                Enable users to rapidly identify and correct
                                control surface rigging issues, saving fuel, and
                                reducing carbon emissions.
                            </li>
                            <li
                                style="
                                    list-style-type: decimal;
                                    padding-bottom: 5px;
                                    padding-left: 4px;
                                "
                            >
                                Accurately track specific range for each
                                aircraft.
                            </li>
                            <li
                                style="
                                    list-style-type: decimal;
                                    padding-bottom: 5px;
                                    padding-left: 4px;
                                "
                            >
                                Provide data for OEM guarantee compliance for
                                specific ranges (to within +/- 0.15%), with 95%
                                statistical confidence.
                            </li>
                            <li
                                style="
                                    list-style-type: decimal;
                                    padding-left: 4px;
                                "
                            >
                                Provide management reports based on customer
                                needs and specifications.
                            </li>
                        </ol>
                    </div>

                    <!-- Learn More Button -->
                    <div class="learn-btn">
                        <a href="/fdap-monitor">Learn More</a>
                    </div>
                    <!-- Learn More Button -->
                </div>
                <!-- Green Text Area -->
            </div>
            <!-- Single Box Inner Area -->
        </div>
    </div>
    <!-- Single Box Area -->

    <!-- Single Last Box Area -->
    <div class="single-box-text last-box">
        <!-- Single Box Image -->
        <div class="single-box-image" id="home-left-bot">
            <img src="img/home-consulting.jpg" alt="Consulting" />
        </div>
        <!-- Single Box Image -->

        <div class="container">
            <!-- Single Box Inner Area -->
            <div class="single-box-inner">
                <!-- Green Text Area -->
                <div
                    class="box-text box-right-text"
                    id="box-right-offset-bottom"
                >
                    <h5>Consulting Services</h5>
                    <div class="box-para-text">
                        <p>
                            VCT works directly with military and commercial
                            aircraft clients to provide a detailed analysis of
                            their fleets, while developing proprietary software
                            and products to improve aerodynamic performance and
                            carbon reduction.
                        </p>

                        <p>
                            Our highly qualified team of proven engineers are
                            unparalleled in experience and can tailor a custom
                            program to meet customer specific needs.
                        </p>
                    </div>

                    <!-- Learn More Button -->
                    <div class="learn-btn">
                        <a href="/services">Learn More</a>
                    </div>
                    <!-- Learn More Button -->
                </div>
                <!-- Green Text Area -->
            </div>
            <!-- Single Box Inner Area -->
        </div>
    </div>
    <!-- Single Box Area -->
</section>
<!-- Green Technology Area -->

<!-- Center Details Area -->
<section class="center-details-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Center Details Content -->
                <div class="center-details-content">
                    <div class="overflow">
                        <h5>Development Partners</h5>
                    </div>

                    <p style="text-align: center">
                        <img
                            src="img/client-logos-single.jpg"
                            alt="Clients"
                            style="max-width: 900px"
                        />
                    </p>

                    <!-- Learn More Button -->

                    <!-- Learn More Button -->
                </div>
                <!-- Center Details Content -->
            </div>
        </div>
    </div>
</section>
<!-- Center Details Area -->

<!-- Contact Us Area --->

<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Contact Content -->
                <div class="contact-content">
                    <div class="contact-text">
                        <p style="text-align: left">
                            VCT develops sustainable aviation solutions to
                            achieve carbon neutrality for today's commercial &
                            military aircraft
                        </p>
                    </div>

                    <!-- Contact Button -->
                    <div class="contact-btn">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <!-- Contact Button -->
                </div>
                <!-- Contact Content -->
            </div>
        </div>
    </div>
</section>

<!-- Contact Us Area -->
