<!-- Technology / Finlets Area -->
<section class="single-technology-banner company-technology">
    <div class="container">
        <!-- Single Technology Content -->
        <div class="single-tech-content">
            <h1>
                <span class="heading-line1">Partners</span>
                <span class="heading-line2">Client Login</span>
            </h1>

            <p>Please login to access the VCT partner dashboard.</p>

            <div class="form-area">
                <form
                    action="https://vcteco.com/partners/login"
                    class="contactForm"
                    role="form"
                    method="post"
                >
                    <input type="hidden" name="show" value="account-check" />
                    <div class="email-input">
                        <input
                            type="email"
                            class="form-control"
                            id="exampleInputEmail1"
                            aria-describedby="emailHelp"
                            placeholder="Email"
                            name="user_email"
                            required="required"
                        />
                    </div>
                    <div class="password-input">
                        <input
                            type="password"
                            class="form-control"
                            id="exampleInputPassword1"
                            placeholder="Password"
                            name="user_password"
                            required="required"
                        />
                    </div>
                    <button type="submit" class="btn login-btn">Login</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Single Technology Content -->

    <!-- Single Technology Image Area -->
</section>
<!-- Technology / Finlets Area -->

<br /><br />

<!-- Contact Us Area --->
<section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Contact Content -->
                <div class="contact-content">
                    <div class="contact-text">
                        <p style="text-align: left">
                            VCT develops sustainable aviation solutions to
                            achieve carbon neutrality for today's commercial &
                            military aircraft
                        </p>
                    </div>

                    <!-- Contact Button -->
                    <div class="contact-btn">
                        <a href="/contact">Contact Us</a>
                    </div>
                    <!-- Contact Button -->
                </div>
                <!-- Contact Content -->
            </div>
        </div>
    </div>
</section>
<!-- Contact Us Area -->
